{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
        <title>ÁPICE | Dashboard</title>
    </head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">IFPE - Campus Jaboatão</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <span class="navbar-nav me-auto mb-2 mb-lg-0">
            </span>
            <form class="d-flex" role="search">
              <button class="btn btn-outline-success" type="submit">Sair</button>
            </form>
          </div>
        </div>
      </nav>
    <main>
        <h2>Bem-vind@, {aluno}</h2>
        <
    </main>
</body>
</html>


{% endblock %}